{% extends 'costumers/base/base.html' %}
{% load static %}
{% block title_content %} Add New Customer {% endblock %}
{% block add_customer_content %}
    <main class="main" id="top">
    <div class="container-fluid">
    <div class="row min-vh-100 flex-center g-0">
    <div class="col-lg-8 col-xxl-5 py-3 position-relative"><img class="bg-auth-circle-shape"
                                                                src="{% static 'costumers/img/icons/spot-illustrations/bg-shape.png' %}"
                                                                alt="" width="250"><img
        class="bg-auth-circle-shape-2"
        src="{% static 'costumers/img/icons/spot-illustrations/shape-1.png' %}" alt="" width="150">
    <div class="card overflow-hidden z-index-1">
    <div class="card-body p-0">
    <div class="row g-0 h-100">
    <div class="col-md-5 text-center bg-card-gradient">
        <div class="position-relative p-4 pt-md-5 pb-md-7 light">
            <div class="bg-holder bg-auth-card-shape"
                 style="background-image:url({% static 'costumers/img/icons/spot-illustrations/half-circle.png' %});">
            </div>
            <!--/.bg-holder-->

            <div class="z-index-1 position-relative"><a
                    class="link-light mb-4 font-sans-serif fs-4 d-inline-block fw-bolder"
                    href="#">falcon</a>
                <p class="opacity-75 text-white">Welcome!</p>
            </div>
        </div>
    </div>
    <div class="col-md-7 d-flex flex-center">
    <div class="p-4 p-md-5 flex-grow-1">
    <h3>Add Customer</h3>
    <div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-outline-primary"> Add</button>
    </form>
{% endblock %}

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
    