

{% extends 'costumers/base/base.html' %}
{% load static %}
{% block customer_content %}
    <div class="card mb-3" id="customersTable"
         data-list='{"valueNames":["name","email","phone","address","joined"],"page":10,"pagination":true}'>
        <div class="card-header">
            <div class="row flex-between-center">
                <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Customers</h5>
                </div>
                <div class="col-8 col-sm-auto text-end ps-2">
                    <div class="d-none" id="table-customers-actions">
                        <div class="d-flex">
                            <select class="form-select form-select-sm" aria-label="Bulk actions">
                                <option selected="">Bulk actions</option>
                                <option value="Refund">Refund</option>
                                <option value="Delete">Delete</option>
                                <option value="Archive">Archive</option>
                            </select>
                            <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
                        </div>
                    </div>

                    <div id="table-customers-replace-element" class="d-flex">
                        <a class="btn btn-falcon-default btn-sm mx-2" href="{% url 'sending-email' %}">
                            <span class="fas fa-envelope" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-sm-inline-block ms-1">Send email</span>
                        </a>
                        <form action="{% url 'add_customer' %}">
                            {% csrf_token %}
                            <button class="btn btn-falcon-default btn-sm " type="submit">
                                <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                                <span class="d-none d-sm-inline-block ms-1">New</span>
                            </button>
                        </form>
                        <a class="btn btn-falcon-default btn-sm mx-2" href="?filter=new_arrived">
                            <span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-sm-inline-block ms-1">Filter</span>
                        </a>

                        <button class="btn btn-falcon-default btn-sm" type="button">
                            <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-sm-inline-block ms-1">Export</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
                    <thead class="bg-200 text-900">


                    <tr>
                        <th>
                            <div class="form-check fs-0 mb-0 d-flex align-items-center">
                                <input class="form-check-input" id="checkbox-bulk-customers-select" type="checkbox"
                                       data-bulk-select='{"body":"table-customers-body","actions":"table-customers-actions","replacedElement":"table-customers-replace-element"}'/>
                            </div>
                        </th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Name</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="email">Email</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="phone">Phone</th>
                        <th class="sort pe-1 align-middle white-space-nowrap ps-5" data-sort="address"
                            style="min-width: 200px;">Billing Address
                        </th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="joined">Joined</th>
                        <th class="align-middle no-sort"></th>
                    </tr>
                    </thead>
                    <tbody class="list" id="table-customers-body">


                    {% for customer in customers %}
                        <tr class="btn-reveal-trigger">
                            <td class="align-middle py-2" style="width: 28px;">
                                <div class="form-check fs-0 mb-0 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="customer-1"
                                           data-bulk-select-row="data-bulk-select-row"/>
                                </div>
                            </td>
                            <td class="name align-middle white-space-nowrap py-2"><a
                                    href="{% url 'customer_details' customer.slug %}">
                                <div class="d-flex d-flex align-items-center">
                                    <div class="avatar avatar-xl me-2">
                                        {% if customer.image %}
                                            <img class="rounded-circle" src="{{ customer.image.url }}" alt=""/>
                                        {% else %}
                                            <img class="rounded-circle"
                                                 src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=1024x1024&w=is&k=20&c=-mUWsTSENkugJ3qs5covpaj-bhYpxXY-v9RDpzsw504="
                                                 alt=""/>

                                        {% endif %}
                                    </div>
                                    <div class="flex-1">
                                        <h5 class="mb-0 fs--1">{{ customer.full_name }}</h5>
                                    </div>
                                </div>
                            </a></td>
                            <td class="email align-middle py-2"><a href="{{ customer.email }}">{{ customer.email }}</a>
                            </td>
                            <td class="phone align-middle white-space-nowrap py-2"><a
                                    href="{{ customer.phone }}">{{ customer.phone }}</a></td>
                            <td class="address align-middle white-space-nowrap ps-5 py-2">{{ customer.address }}</td>
                            <td class="joined align-middle py-2">{{ customer.joined }}</td>
                            <td class="align-middle white-space-nowrap py-2 text-end">
                                <div class="dropdown font-sans-serif position-static">
                                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                                            type="button" id="customer-dropdown-1" data-bs-toggle="dropdown"
                                            data-boundary="window" aria-haspopup="true" aria-expanded="false"><span
                                            class="fas fa-ellipsis-h fs--1"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-0"
                                         aria-labelledby="customer-dropdown-1">
                                        <div class="bg-white py-2">
                                            <a class="dropdown-item"
                                               href="{% url 'edit_customer' customer.slug %}">Edit</a>

                                            <a class="dropdown-item text-danger"
                                               href="{% url 'delete_customer' customer.slug %}">Delete</a></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer d-flex align-items-center justify-content-center">

            {% if customers.has_previous %}
                <a class="btn btn-sm btn-falcon-default me-1" href="?page=1" title="First">
                    &laquo; First
                </a>
                <a class="btn btn-sm btn-falcon-default me-1" href="?page={{ customers.previous_page_number }}"
                   title="Previous">
                    <span class="fas fa-chevron-left"></span>
                </a>
            {% else %}
                <span class="btn btn-sm btn-falcon-default me-1" title="First" disabled>
                    &laquo; First
                </span>
                <span class="btn btn-sm btn-falcon-default me-1" title="Previous" disabled>
                     <span class="fas fa-chevron-left"></span>
                </span>
            {% endif %}

            {% for num in customers.paginator.page_range %}
                <ul class="pagination mb-0">
                    {% if customers.number == num %}
                        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                </ul>
            {% endfor %}

            {% if customers.has_next %}
                <a class="btn btn-sm btn-falcon-default ms-1" href="?page={{ customers.next_page_number }}"
                   title="Next">
                    <span class="fas fa-chevron-right"></span>
                </a>
                <a class="btn btn-sm btn-falcon-default ms-1" href="?page={{ customers.paginator.num_pages }}"
                   title="Last">
                    Last &raquo;
                </a>
            {% else %}
                <span class="btn btn-sm btn-falcon-default ms-1" title="Next" disabled>
                    <span class="fas fa-chevron-right"></span>
                </span>
                <span class="btn btn-sm btn-falcon-default ms-1" title="Last" disabled>
                    Last &raquo;
                </span>
            {% endif %}
        </div>


    </div>
{% endblock %}