{% extends 'user/base/base.html' %}
{% load static %}
{% block title_content %} APP {% endblock %}

{% block forgotten_password_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container-fluid">
            <div class="row min-vh-100 flex-center g-0">
                <div class="col-lg-8 col-xxl-5 py-3 position-relative"><img class="bg-auth-circle-shape"
                                                                            src="{% static 'costumers/img/icons/spot-illustrations/bg-shape.png' %}"
                                                                            alt="" width="250"><img
                        class="bg-auth-circle-shape-2"
                        src="{% static 'costumers/img/icons/spot-illustrations/shape-1.png' %}" alt="" width="150">
                    <div class="card overflow-hidden z-index-1">
                        <div class="card-body p-0">
                            <div class="row g-0 h-100">
                                <div class="col-md-5 text-center bg-card-gradient">
                                    <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                                        <div class="bg-holder bg-auth-card-shape"
                                             style="background-image:url({% static 'costumers/img/icons/spot-illustrations/half-circle.png' %});">
                                        </div>
                                        <!--/.bg-holder-->

                                        <div class="z-index-1 position-relative"><a
                                                class="link-light mb-4 font-sans-serif fs-4 d-inline-block fw-bolder"
                                                href="{% url 'home' %}">falcon</a>
                                            <p class="opacity-75 text-white">Welcome!</p>
                                        </div>
                                    </div>
                                    <div class="mt-3 mb-4 mt-md-4 mb-md-5 light">
                                        <p class="mb-0 mt-4 mt-md-5 fs--1 fw-semi-bold text-white opacity-75">Read our
                                            <a class="text-decoration-underline text-white" href="#!">terms</a> and <a
                                                    class="text-decoration-underline text-white"
                                                    href="#!">conditions </a></p>
                                    </div>
                                </div>
                                <div class="col-md-7 d-flex flex-center">
                                    <div class="p-4 p-md-5 flex-grow-1">
                                        <div class="text-center text-md-start">
                                            <form method="get" action="{% url 'index' %}">
                                                <select class="btn btn-falcon-default btn-sm" id="filter" name="filter">
                                                    <option selected>...</option>
                                                    <option  value="every_writer_s_count_of_books">every writer's count of books</option>
                                                    <option value="every_writer_s_most_valuable_book">every writer's most valuable book</option>
                                                    <option value="every_writer_s_cheapest_book">every writer's cheapest book</option>
                                                    <option value="the_average_of_each_writer_s_cheapest_book">the average of each writer's cheapest book</option>
                                                </select>
                                                <button class="btn btn-falcon-default btn-sm" type="submit"><span
                                                        class="fa-external-link-alt"
                                                        data-fa-transform="shrink-3 down-2"></span><span
                                                        class="d-none d-sm-inline-block ms-1">filter</span>
                                                </button>
                                            </form>
                                            <h4 class="mb-0"> </h4><br><br><br>
                                            {% for author in authors %}
                                                <p class="mb-4">{{ author.name }} ..... {{ author.book_data }} </p>
                                            {% endfor %}
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-8 col-md">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}
